/* The Overlay (background) */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1; /* Sit on top */
  right: 0;
  top: 0;
  background-color: rgb(31, 45, 70);
  background-color: rgba(31, 45, 70, 0.99);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content2 {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: -50px;
}

/* The navigation links inside the overlay */
.overlay h2 {
  grid-column: 2/3;
  padding: 4px;
  text-decoration: none;
  font-size: 24px;
  text-align: center;
  margin-top: -50%;
  color: #e3bbab;
  display: block;
  transition: 0.3s;
  font-family: "Montserrat", sans-serif;
}

.overlayContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.overlay p {
  grid-column: 2 / 3;
  text-decoration: none;
  text-align: left;
  justify-self: left;
  font-size: 14px;
  margin-left: 30px;
  color: #e3bbab;
  display: block;
  transition: 0.3s;
  font-family: "Montserrat", sans-serif;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 60px;
}


.filterIcon {
  width: 22px;
  position: relative;
  margin-bottom: 2px;
  margin-right: 15px;
  margin-left: 15px;
}

#checkFilter {
  grid-column: 1 / 2;
  align-self: center;
  justify-self: right;
  margin-right: 10px;
  margin-top: -110%;
  width: 15px;
  height: 15px;
  outline: none;
  background-color: #f1f1e2;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);

}
#checkFilter:checked {
  -webkit-appearance: square-button;
}

.gemknap {
  grid-column: 2/3;
  align-self: center;
  justify-self: left;
}

 .gemknap p {
  grid-column: 2/3;
  color: #1f2d46;
  align-self: center;
  justify-self: center;
  border: none;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.Save {
  grid-column: 2/3;
  border: none;
  background-color: #e3bbab;
  width: 118px;
  height: 30px;
  border-radius: 15px;
  margin: 10px auto;
}
