@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.6;
  text-decoration: none;
}
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.6;
}
body,
html {
  height: 100%;
  padding-top: 0;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

/*hamburger */
/* The Overlay (background) */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(31, 45, 70);
  background-color: rgba(31, 45, 70, 0.99);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: -50px;
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  text-align: left;
  font-size: 24px;
  margin-left: 15px;
  color: #e3bbab;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}
.overlay .closebtn {
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 60px;
}

header {
  background-color: #1f2d46;
  height: 8vh;
}

.navContainer {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
}
.navItemHam {
  grid-column: 1/2;
  margin-top: 3px;
  align-self: center;
  justify-self: center;
}
.hamIcon {
  width: 30px;
}
.filterIcon,
.searchIcon {
  width: 22px;
  position: relative;
}
.filterIcon {
  margin-bottom: 2px;
  margin-right: 15px;
  margin-left: 15px;
}
.navItemSearch {
  grid-column: 2/3;
  align-self: center;
  justify-self: end;
}
.navItemSearch input {
  padding: 6px;
  border: none;
  width: 57%;
  font-size: 17px;
  display: none;
  margin: -2% 0 0 -60%;
  border-radius: 10px;
  position: absolute;
}

/*Log ind front siden/landing page */
#loginFront {
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/herofront.png");
  background-position: 30%;
  background-repeat: no-repeat;
  background-size: cover;
}
.loginContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
}
.gridLoginItem1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  text-align: center;
  align-self: end;
}
.headerLogin {
  font-size: 32px;
  color: #f1f1e2;
}
.gridLoginItem2 {
  grid-column: 1 / 2;
  grid-row: 2/3;
  text-align: center;
  align-self: center;
}
.btnLoginEmail,
.btnLoginNr,
.btnBook,
.btnTops {
  display: block;
  background-color: #e3bbab;
  font-weight: bold;
  border: none;
  width: 250px;
  height: 50px;
  border-radius: 15px;
  font-size: 14px;
  margin: 10px auto;
  font-family: "Montserrat", sans-serif;
  color: #1f2d46;
}
.btnBook {
  margin-top: 150px;
}
.btnTops {
  margin-top: 80px;
}
.btnCreate {
  display: block;
  color: #1f2d46;
  border: none;
  background-color: #e3bbab;
  width: 130px;
  height: 35px;
  border-radius: 15px;
  font-size: 14px;
  margin: 10px auto;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.emailIcon {
  width: 30px;
  margin-right: 10px;
  vertical-align: middle;
}
.phoneIcon {
  width: 25px;
  margin-right: 10px;
  vertical-align: middle;
}
.btnGuest {
  color: #f1f1e2;
  font-weight: 500;
}
/* Log Ind side slut */

/* opret brguer side**/
.headerProfile {
  color: #1f2d46;
  margin: 5% 0 5% 5%;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.myProfileImg {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  width: 30%;
  height: 30%;
  border-radius: 15px;
}

.headerProfileImg {
  text-align: center;
  margin: 0 0 5% 0;
}

.formProfile section div {
  text-align: center;
  margin: 0 auto;
}

.formProfile section div label {
  display: block;
  text-align: center;
  margin-top: 15px;
}

.formProfile section div input {
  width: 75%;
  border-radius: 15px;
  border: none;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.4);
  padding: 7px;
  font-family: "Montserrat", sans-serif;
}

.profileContainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
}

.checkboxBtn {
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: center;
  justify-self: end;
  margin-right: 20px;
}

.buttonText {
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: left;
}

.buttonText p {
  margin-bottom: 18px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.gridSave {
  background-color: #e3bbab;
  font-weight: bold;
  border: none;
  width: 180px;
  height: 50px;
  border-radius: 15px;
  font-size: 14px;
  margin: 10px auto;
  font-family: "Montserrat", sans-serif;
  color: #1f2d46;
}

.gridSave p {
  color: #1f2d46;
  border: none;
  background-color: #e3bbab;
  width: 180px;
  height: 35px;
  border-radius: 15px;
  font-size: 14px;
  margin: 10px auto;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.Save {
  border: none;
  background-color: #e3bbab;
  width: 2px;
  height: 2px;
}
.checkboxCreate {
  align-self: center;
  justify-self: end;
  margin-bottom: 10px;
  width: 25px;
  height: 25px;
  outline: none;
  background-color: #f1f1e2;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}
.checkboxCreate:checked {
  -webkit-appearance: square-button;
}
.arrowBack {
  width: 6%;
  margin: 15px 0 0 15px;
}
/* opret brguer side slut**/

/* Forsiden/hjem i appen */

.headerHome {
  font-size: 20px;
  margin: 10px 0 0 10px;
}
.timeHome {
  margin: 0 0 0 10px;
}

.subHeaderHome {
  font-size: 20px;
  margin: 10px 0 0 10px;
  display: inline-block;
}
.boxContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 4fr 1fr 4fr 1fr 4fr;
  grid-gap: 1%;
}

.smallText {
  font-weight: normal;
  font-size: 12px;
}
.favoriteBoxHeader {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}
.favoriteBox {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.SearchBox1,
.cancelsBox,
.cancelsBox2,
.nearBox,
.nearBox2,
.favoriteBox {
  width: 90%;
  height: 100%;
  align-self: center;
  justify-self: center;
  background-color: #e3bbab;
  border-radius: 25px;
}

.salonImg {
  width: 100%;
  height: 65%;
  object-fit: cover;
  border-radius: 25px;
}
.salonName {
  text-align: center;
}
.salonAdress {
  text-align: center;
  font-size: 12px;
}
.cancelsBoxHeader {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}
.cancelsBox {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}
.cancelsBox2 {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}
.nearBoxHeader {
  grid-column: 1 / 3;
  grid-row: 5 / 6;
}
.nearBox {
  grid-column: 1 / 2;
  grid-row: 6 / 7;
}
.nearBox2 {
  grid-column: 2 / 3;
  grid-row: 6 / 7;
}
/* Forside slut */

/* Min profil side start */
.headerProfile {
  color: #1f2d46;
  margin: 5% 0 5% 5%;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.myProfileImg {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  width: 30%;
  height: 30%;
  border-radius: 15px;
}

.headerProfileImg {
  text-align: center;
  margin: 0 0 5% 0;
}

.formProfile section div {
  text-align: center;
  margin: 0 auto;
}

.formProfile section div label {
  display: block;
  text-align: center;
  margin-top: 15px;
}

.formProfile section div input {
  width: 75%;
  border-radius: 15px;
  border: none;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.4);
  padding: 7px;
  font-family: "Montserrat", sans-serif;
}

.profileContainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
}

.sliderBtn {
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: center;
  justify-self: end;
  margin-right: 20px;
}

.sliderText {
  grid-column: 2/3;
  grid-row: 1/2;
}

.sliderText p {
  margin-bottom: 14px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.switch {
  position: relative;
  display: block;
  width: 40px;
  height: 24px;
  margin-bottom: 12px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #1f2d46;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1f2d46;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.gridChangeCode {
  display: block;
  background-color: #e3bbab;
  font-weight: bold;
  border: none;
  width: 250px;
  height: 50px;
  border-radius: 15px;
  font-size: 14px;
  margin: 10px auto;
  font-family: "Montserrat", sans-serif;
  color: #1f2d46;
}

.gridChangeCode p {
  color: #1f2d46;
  border: none;
  background-color: #e3bbab;
  width: 180px;
  height: 35px;
  font-size: 14px;
  margin: 10px 0 0 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.changeCode {
  border: none;
  background-color: #e3bbab;
  margin-left: 10px;
}

.gridSave {
  background-color: #e3bbab;
  font-weight: bold;
  border: none;
  width: 180px;
  height: 50px;
  border-radius: 15px;
  font-size: 14px;
  margin: 10px auto;
  font-family: "Montserrat", sans-serif;
  color: #1f2d46;
}

.gridSave p {
  color: #1f2d46;
  border: none;
  background-color: #e3bbab;
  width: 180px;
  height: 35px;
  border-radius: 15px;
  font-size: 14px;
  margin: 10px auto;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.Save {
  border: none;
  background-color: #e3bbab;
  width: 2px;
  height: 2px;
}
/* min bruger slut */

/* Søgeresultater start */
.overskriftTilSearch h2 {
  font-size: 20px;
  text-align: center;
  margin: 20px 0 10px 0;
  font-weight: 400;
}

.searchBoxContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.searchBox1 {
  grid-column: 1 / 2;
  grid-row: 1 /2;
}

.searchBox2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.searchBox3 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.searchBox1 {
  width: 80%;
  height: 90%;
  align-self: center;
  justify-self: center;
  background-color: #e3bbab;
  border-radius: 25px;
}

.searchBox2 {
  width: 80%;
  height: 90%;
  align-self: center;
  justify-self: center;
  background-color: #e3bbab;
  border-radius: 25px;
}

.searchBox3 {
  width: 80%;
  height: 90%;
  align-self: center;
  justify-self: center;
  background-color: #e3bbab;
  border-radius: 25px;
}

.salonSearchImg {
  width: 100%;
  height: 65%;
  object-fit: cover;
  border-radius: 25px;
}

.salonSearchName {
  text-align: center;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-top: 15px;
}

.salonSearchAdress {
  text-align: center;
}

.overskriftTilAfbudstider {
  margin: 20px 0 0 40px;
}
/* Søgeresultater slut */

/* mine tider side start */
.headerMyAppointments {
  font-size: 20px;
  margin: 0 0 0 20px;
}

.headerMyAppointments1 {
  font-size: 20px;
  margin: 0 0 0 20px;
}

.titleSalonHairByUsGrid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
}

.titleSalonHairByUs {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.redigerBooking {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.redigerBooking {
  display: block;
  background-color: #e3bbab;
  border: none;
  width: 55px;
  height: 55px;
  border-radius: 15px;
  font-size: 10px;
  margin: 25px 0 0 25px;
  font-family: "Montserrat", sans-serif;
  color: #1f2d46;
}

.titleSalonHairByUs {
  margin: 0 0 0 10px;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.headerMyPreviousAppointments {
  font-size: 20px;
  margin: 0 0 20px 20px;
}

.headerMyPreviousAppointments1 {
  font-size: 20px;
  margin: 0 0 0 20px;
}

.titleSalonHoeghHairGrid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
}

.titleSalonHoeghHair {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.bookIgen {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.bookIgen {
  display: block;
  background-color: #e3bbab;
  border: none;
  width: 55px;
  height: 55px;
  border-radius: 15px;
  font-size: 10px;
  margin: 25px 0 0 25px;
  font-family: "Montserrat", sans-serif;
  color: #1f2d46;
}

.titleSalonHoeghHair {
  margin: 0 0 0 10px;
}

.titleSalonJanette {
  margin: 0 0 0 10px;
}

.titleSalon {
  font-weight: bold;
  font-size: 16px;
  margin: 0 0 5px 30px;
}

.smallText2 {
  font-weight: normal;
  font-size: 12px;
  margin: 0 0 0 30px;
}

.titleSalonJanetteGrid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
}

.titleSalonJanette {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.bookIgen2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.bookIgen2 {
  display: block;
  background-color: #e3bbab;
  border: none;
  width: 55px;
  height: 55px;
  border-radius: 15px;
  font-size: 10px;
  margin: 25px 0 0 25px;
  font-family: "Montserrat", sans-serif;
  color: #1f2d46;
}

/* mine tider slut */

/* Bookingside start */

.headerMyAppointments {
  font-size: 20px;
  margin: 0 0 0 30px;
}

.titleSalon {
  font-weight: bold;
  font-size: 16px;
  margin: 0 0 5px 30px;
}

.smallText2 {
  font-weight: normal;
  font-size: 12px;
  margin: 0 0 0 30px;
}
.headerMyAppointmentsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.headerMyAppointmentsContainer h1 {
  grid-column: 1 / 2;
  grid-row: 1/2;
}
#cancelPrices {
  grid-column: 2 / 3;
  grid-row: 1/2;
  align-self: center;
  justify-self: right;
  margin-right: 12px;
  width: 25px;
  height: 25px;
  outline: none;
  background-color: #f1f1e2;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}
#cancelPrices:checked {
  -webkit-appearance: square-button;
}
.headerMyAppointmentsContainer p {
  font-size: 14px;
  grid-column: 2 / 3;
  align-self: center;
  justify-self: start;
  grid-row: 1/2;
}

.dropdown-check-list {
  display: inline-block;
  width: 100%;
}

.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 10px 50px 5px 10px;
  border: 1px solid #ccc;
  width: 100%;
  font-size: 20px;
}

.dropdown-check-list ul.items {
  padding: 0;
  display: none;
  border: 1px solid #ccc;
  border-top: none;
}

.dropdown-check-list ul.items li {
  list-style: none;
  margin: 20px 0 20px 10px;
}

.dropdown-check-list.visible .items {
  display: block;
}
.items label {
  float: right;
  margin-right: 3%;
}
.dropdown-checkb,
.dropdown-checkb2 {
  float: right !important;
  margin-right: 12px;
  width: 25px;
  height: 25px;
  outline: none;
  background-color: #f1f1e2;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}
.dropdown-checkb,
.dropdown-checkb2:checked {
  -webkit-appearance: square-button;
}
.dropdown-checkb2 {
  margin: 40px -40px 0 40px;
}
.pickHair {
  width: 30%;
  height: 120px;
  object-fit: cover;
  border-radius: 15px;
}
.pickHairDresser {
  display: flex;
  flex-direction: row;
}
.items li p,
.items li h3 {
  margin-left: 10px;
}
.calenderGridContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
.dateM,
.dateT,
.dateW,
.dateTh,
.dateF,
.dateS,
.dateSun {
  grid-row: 1/2;
}
.dateActive {
  background-color: #e3bbab;
  padding: 8px;
  border-radius: 10px;
  font-weight: 700;
}
.timeActive {
  background-color: #e3bbab;
  padding: 4px;
  border-radius: 10px;
  font-weight: 700;
}
.calenderGridContainer div,
.timesGridContainer div {
  align-self: center;
  justify-self: center;
}
.timesGridContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 5%;
}
.timesPara {
  margin: 0 !important;
}
.pickHairDresser div {
  margin-left: 10px;
}

.confirmImg {
  width: 40%;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
  margin-left: 15px;
}
.confirmGrid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-row: 1fr 1fr;
}
.confirmGridItem1,
.confirmGridItem2 {
  grid-column: 1/2;
  font-size: 14px;
  margin-left: 15px;
}
.confirmGridItem1 {
  grid-row: 1/2;
}
.confirmGridItem2 {
  grid-row: 2/3;
}
.confirmGridItem3,
.confirmGridItem4 {
  grid-column: 2/3;
  align-self: end;
  justify-self: center;
}
.confirmGridItem3 {
  grid-row: 1/2;
}
.confirmGridItem4 {
  grid-row: 2/3;
  width: 180%;
}
.afbudOBS {
  color: red;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #888;
  width: 95%; /* Could be more or less, depending on screen size */
}
.modal-content h2 {
  text-align: center;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* bookingside slut */
