@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.6;
  text-decoration: none;
}
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.6;
}
body,
html {
  height: 100%;
  padding-top: 0;
  width: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 30px;
}
