@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.6;
  text-decoration: none;
}
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.6;
}
body,
html {
  height: 100%;
  padding-top: 0;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

#loginFront {
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/herofront.png");
  background-position: 30%;
  background-repeat: no-repeat;
  background-size: cover;
}
.headerLogin {
  font-size: 24px;
  text-align: center;
}
/*.loginContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.loginHero {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
}

.headerLogin {
  font-size: 24px;
  text-align: center;
  position: absolute;
}
.loginEmail {
  position: absolute;
}
*/
