* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.6;
  text-decoration: none;
}

html {
  height: 100%;
  padding-top: 0;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

/* HEADER + NAV */
header {
  background-color: #1f2d46;
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
}

header .header-brand {
  font-size: 45px;
  font-weight: 700;
  color: #e3bbab;
  display: block;
  margin: 0 auto;
  text-align: center;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: center;
  justify-content: center;
}

header .header-brand:hover {
  color: #ffff;
}
header nav {
  margin: auto;
}

header nav ul {
  margin: 0 auto;
  text-align: center;
  width: fit-content;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

header nav ul li {
  display: inline-block;
  list-style: none;
  padding: 0 16px;
}

header nav ul li a {
  font-weight: 500;
  font-size: 16px;
  color: #e3bbab;
}

header nav ul li a:hover {
  color: #ffff;
}

.sektion1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "text logo";
  grid-gap: 3%;
  padding: 0% 2%;
  margin-top: 10%;
  text-align: left;
  align-self: center;
  margin-left: 85px;
  margin-right: 85px;
}

.logo {
  max-width: 100%;
  max-height: 100%;
}

.quote {
  font-style: italic;
}

/*FARVER*/

hr {
  margin-left: 100px;
  margin-top: 75px;
  margin-bottom: 7px;
  border-color: #e3bbab;
  border: 4px solid #e3bbab;
  width: 210px;
  margin-left: 115px;
}

h3 {
  margin-left: 115px;
  font-size: 40px;
}

.sektion2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "farve1 farve2 farve3 farve4"
    "infobox1 infobox2 infobox3 infobox4";
  margin-top: 2%;
  grid-gap: 0%;
  grid-column-gap: 3%;
  text-align: left;
  margin-left: 110px;
  margin-right: 85px;
}

.farve1 {
  grid-column: 1/2;
  grid-row: 1/2;
  grid-area: "farve1";
  background-color: #1f2d46;
  height: auto;
  height: 25%;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

.infobox1 {
  grid-column: 1/2;
  grid-row: 2/3;
  grid-area: "infobox1";
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: 0.3s;
  height: 250px;
  background-color: #ffff;
  padding: 2%;
}

.farve2 {
  grid-column: 2/3;
  grid-row: 1/2;
  grid-area: "farve2";
  background-color: #e3bbab;
  height: 25%;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

.infobox2 {
  grid-column: 2/3;
  grid-row: 2/3;
  grid-area: "infobox2";
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: 0.3s;
  height: 250px;
  background-color: #ffff;
  padding: 2%;
}

.farve3 {
  grid-column: 3/4;
  grid-row: 1/2;
  grid-area: "farve3";
  background-color: #f1f1e2;
  height: 25%;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

.infobox3 {
  grid-column: 3/4;
  grid-row: 2/3;
  grid-area: "infobox3";
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: 0.3s;
  height: 250px;
  background-color: #ffff;
  padding: 2%;
}

.farve4 {
  grid-column: 4/5;
  grid-row: 1/2;
  grid-area: "farve4";
  background-color: #ffffff;
  height: 25%;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

.infobox4 {
  grid-column: 4/5;
  grid-row: 2/3;
  grid-area: "infobox4";
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: 0.3s;
  height: 250px;
  background-color: #ffff;
  padding: 2%;
}

.hexcolor {
  line-height: 2.5;
}

/*IKONER*/

table {
  border-collapse: collapse;
  width: 50%;
  margin-left: 25%;
  margin-top: 2%;
  margin-bottom: 7%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}

.menu {
  background-color: #e3bbab;
}
.wrappercode-icons {
  padding-bottom: 70px;
}
.kodeboks {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  padding-top: 20%;
  margin-left: 25%;
  top: 200px;
  width: 50%;
  font-family: "MingLiU_HKSCS";
}

.pink {
  padding-top: 4.5%;
  margin-left: 25%;
  width: 50%;
  background-color: #e3bbab;
}

/*TYPOGRAFI*/

.sektion3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
  margin-left: 115px;
  margin-right: 90px;
  margin-top: 30px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

.farven {
  grid-column: 1/4;
  grid-row: 1/2;
  background-color: #e3bbab;
  height: auto;
}

.typo1 {
  grid-column: 1/4;
  grid-row: 2/3;
}

.tekst1 {
  grid-column: 1/2;
  grid-row: 2/3;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  padding-top: 7px;
}

.tekst2 {
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  padding-top: 7px;
}

.tekst3 {
  grid-column: 3/4;
  grid-row: 2/3;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  padding-top: 7px;
}

.typo2 {
  grid-column: 1/4;
  grid-row: 3/4;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.tekst12 {
  grid-column: 1/2;
  grid-row: 3/4;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.tekst22 {
  grid-column: 2/3;
  grid-row: 3/4;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.tekst32 {
  grid-column: 3/4;
  grid-row: 3/4;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.typo3 {
  grid-column: 1/4;
  grid-row: 4/5;
}

.tekst13 {
  grid-column: 1/2;
  grid-row: 4/5;
  font-size: 17px;
  text-align: center;
}

.tekst23 {
  grid-column: 2/3;
  grid-row: 4/5;
  font-size: 17px;
  text-align: center;
}

.tekst33 {
  grid-column: 3/4;
  grid-row: 4/5;
  font-size: 17px;
  text-align: center;
}

.typo4 {
  grid-column: 1/4;
  grid-row: 5/6;
}

.tekst14 {
  grid-column: 1/2;
  grid-row: 5/6;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.tekst24 {
  grid-column: 2/3;
  grid-row: 5/6;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.tekst34 {
  grid-column: 3/4;
  grid-row: 5/6;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.typo5 {
  grid-column: 1/4;
  grid-row: 6/7;
}

.tekst15 {
  grid-column: 1/2;
  grid-row: 6/7;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
}

.tekst25 {
  grid-column: 2/3;
  grid-row: 6/7;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
}

.tekst35 {
  grid-column: 3/4;
  grid-row: 6/7;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
}

.typo6 {
  grid-column: 1/4;
  grid-row: 7/8;
}

.tekst16{
  grid-column: 1/4;
  grid-row: 7/8;
  font-size: 15px;
  padding-left: 20px;
  padding-right: 20px;
}


/*LOGO*/

.sektion4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-top: 30px;
}

.logo {
  grid-column: 1/2;
  grid-row: 1/2;
}

.kodeboks1 {
  grid-column: 3/4;
  grid-row: 1/2;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

.logopic {
  width: 100%;
}

.pink1 {
  grid-column: 3/4;
  grid-row: 1/2;
  padding-top: 4.5%;
  width: 100%;
  height: 15%;
  background-color: #e3bbab;
}
